body {
    height: 100px;
    width: 250px;
    padding: 10px;
    font-family: sans-serif;
    background: #f60000;
  }
  
  .hidden {
    display: none !important;
  }
  
  #modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #f60000;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  